parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src/
    ignoreErrors:
        # Ignore errors about not having typehints for definitions of builtin functions. These won't be typed until they are extracted.
        -
            message: "#^Property ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:\\$lib[\\w]+ has no type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has no return type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) return type has no value type specified in iterable type array\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has parameter \\$args with no type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has parameter \\$kwargs with no type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has parameter \\$kwargs with no value type specified in iterable type array\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Parser\\:\\:[^(]+\\(\\) has parameter \\$out with no value type specified in iterable type array\\.$#"
            path: src/Parser.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Parser\\:\\:[^(]+\\(\\) has @param-out PHPDoc tag for parameter \\$\\w+ with no value type specified in iterable type array\\.$#"
            path: src/Parser.php

        # The sass:math builtins operate on the untyped SCSS value representation (the `array` half
        # of `array|Number`), mirroring the Compiler::lib* builtins above. These won't be typed
        # until the SCSS value model is extracted.
        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\SassModule\\\\MathModule\\:\\:[^(]+\\(\\) has no return type specified\\.$#"
            path: src/SassModule/MathModule.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\SassModule\\\\MathModule\\:\\:[^(]+\\(\\) return type has no value type specified in iterable type array\\.$#"
            path: src/SassModule/MathModule.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\SassModule\\\\MathModule\\:\\:[^(]+\\(\\) has parameter \\$\\w+ with no value type specified in iterable type array\\.$#"
            path: src/SassModule/MathModule.php

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
